 <!-- Topbar -->
 <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Topbar Search -->
    {% if header['projects']|length > 0 %}
    <div class="dropdown" id="searchProject">
      <button class="btn btn-outline-primary dropdown-toggle text-left" type="button" data-toggle="dropdown">
        {% if  header['current_project'] is defined and header['current_project']|length %}
          {{ header['current_project'] }}
        {% else %}   
          {{ _('Select a project') }}
        {% endif %}
      <span class="caret"></span></button>
      {% if  header['projects'] is defined and header['projects']|length %}
      <ul class="dropdown-menu">
        <input class="form-control" id="projectSelect" type="text" placeholder="Search..">
        {% for project in header['projects'] %}
        <li><a href="/projects/{{ project.name }}">{{ project.name }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endif %}

    <div class="ml-3">
      <a href="/new-project" class="btn btn-primary">
        <i class="fa fa-plus"></i><span class="bot-line">{% if header['projects']|length == 0 %} New project {% endif %}</span>
      </a>
    </div>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

      <div class="topbar-divider d-none d-sm-block"></div>

      <li class="nav-item mr-auto d-sm-block">
        <a role="btn" href="?lang=fr" class="mx-2 d-flex h-100" rel="fr">
          <span class="align-self-center">
            <img height="25" src="{{ url_for('static', filename='images/icon/french-flag.svg') }}" alt="France" />
          </span>
        </a>
      </li>

      <li class="nav-item mr-auto d-sm-block">
        <a role="btn" href="?lang=en" class="mx-2 d-flex h-100" rel="fr">
          <span class="align-self-center">
            <img height="25" src="{{ url_for('static', filename='images/icon/en-flag.svg') }}" alt="English" />
          </span>
        </a>
      </li>
    </ul>

  </nav>
  <!-- End of Topbar -->