<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<!-- Page level plugins -->
<!-- <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script> -->

<!-- Page level custom scripts -->
<!-- <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
  <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script> -->

<script src="{{ url_for('static', filename='vendor/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='vendor/bootstrap-select/js/i18n/defaults-*.min.js') }}"></script> -->
<script>
  $("select").selectpicker();
</script>

<script>
  $(document).ready(function () {
    $("#projectSelect").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $(".dropdown-menu li").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  });
</script>
