{% from "commons/layout/sidebar/item.html" import sidebar_item with context %}
{% set not_in_project =  (header['current_project'] is not defined) or (header['current_project']|length == 0) %}

<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/"
  >
    <div class="sidebar-brand-icon">
      <i class="fas fa-balance-scale"></i>
    </div>
    <div class="sidebar-brand-text mx-3">TransparentAI</div>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  {{ sidebar_item(name=_("Projects"), href='projects', fa='book', disabled=False) }}

  {{ sidebar_item(name=_("Help"), href='help', fa='book', disabled=False) }}


  {% if not not_in_project %}
  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">
    {{ _('My project') }}
  </div>

  {{ sidebar_item(name=_('Synthesis'), href='/projects/'+header['current_project'], fa='database', disabled=not_in_project) }}

  {{ sidebar_item(name=_('Trust evaluation'), href='/projects/'+header['current_project']+'/evaluation', fa='database', disabled=not_in_project) }}
  
  {{ sidebar_item(name=_('Technical modules'), href='/projects/'+header['current_project']+'/modules', fa='database', disabled=not_in_project) }}
  
  {{ sidebar_item(name=_('Components'), href='/projects/'+header['current_project']+'/components', fa='database', disabled=not_in_project) }}


  {% endif %}
  <!-- Divider -->
  <hr class="sidebar-divider" />

  <div class="sidebar-heading">
    {{ _('Utils') }}
  </div>

  {{ sidebar_item(name=_('About'), href='/about', fa='database', disabled=not_in_project) }}

  {{ sidebar_item(name=_('Github'), href='/github', fa='database', disabled=not_in_project) }}

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
