{% macro card(text, href=None, fa=None, subtext=None, color='gray-500',
border_color='light', bg='None', disable=False, status='', complement=None) -%}

{% if disable %}
  {% set color = 'gray-500' %}
  {% set border_color = 'light' %}
{% endif %}

{% if status == 'init' %}
  {% set disable = True %}
  {% set color = 'gray-500' %}
  {% set border_color = 'light' %}
  {% set fa = 'check' %}
{% elif status == 'failed' %}
  {% set color = 'danger' %}
  {% set border_color = 'danger' %}
  {% set fa = 'times' %}
  {% set disable = True %}
{% elif status == 'loading' %}
  {% set color = 'warning' %}
  {% set border_color = 'warning' %}
  {% set fa = 'spinner' %}
  {% set subtext = _('Loading...') %}
  {% set disable = True %}
{% elif status == 'loaded' %}
  {% set color = 'success' %}
  {% set border_color = 'success' %}
  {% set fa = 'check' %}
  {% set subtext = _('Successfully loaded.') %}
{% endif %}

{% if not disable and href is not none %}
<a href="{{ href }}" class="nounderline" {% if complement is not none %}{{complement}}{% endif %}>
  {% endif %}
<div
  class="card 
        {% if not disable and href is not none %}card-hover-primary{% endif %} 
        border-left-{{ border_color }} shadow h-100 py-2 
        {% if bg is not none %} bg-{{ bg }} {% endif %}"
>
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="h5 mb-0 font-weight-bold text-{{ color }}">
            {{ text }}
          </div>
          {% if subtext is not none %}
          <div
            class="text-xs font-weight-bold text-gray-500 text-uppercase mb-1"
          >
            {{ subtext }}
          </div>
          {% endif %}
        </div>
        <div class="col-auto">
          <i class="fas fa-{{ fa }} fa-2x text-{{ color }}"></i>
        </div>
      </div>
    </div>
</div>
{% if not disable and href is not none %}
</a>
{% endif %}
{%- endmacro %}
