<div class="card shadow mb-4 w-90 mx-auto">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
          {% block table_title %}
          {% endblock %}
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered table-list"
          width="100%"
          cellspacing="0"
        >
          <thead>
          {% block table_thead %}
          {% endblock %}
          </thead>
          <tbody>
            {% block table_tbody %}
            {% endblock %}
          </tbody>
        </table>
      </div>
    </div>
  </div>