{% extends "commons/layout.html" %} {% from
"commons/components/card_status.html" import card_status with context %} {% from
"commons/forms/multiple_select_list.html" import multiple_select_list with
context %} {% from "commons/components/card.html" import card with context %} {%
from "commons/forms/select_list.html" import select_list with context %} {% from
"commons/forms/input.html" import form_input with context %} {% block title %}{{
title }}{% endblock %}
<!-- {% block head %}{% endblock %} -->
{% block h1 %}{{ title }}{% endblock %} {% block content %} {% if
dataset.module_bias is defined %}
<!-- Details Row -->
<div class="row">
  <div class="col-6 col-lg-2">
    {{ card_status(status=dataset.module_bias.status )}}
  </div>
  <div class="col-6 col-lg-2">
    <strong>Created at:</strong> {{
    dataset.module_bias.created_at.strftime('%Y-%m-%d')}}
  </div>
  <div class="col"></div>
</div>
<!-- End details row -->
<hr />

<!-- Components Row -->
<div class="row">
  <div class="col-12 col-sm-6">
    <form action="./analyse-bias" method="post" class="ml-3">
      <div class="form-row mb-3">
        <div class="col-12">
          <div class="form-group">
            {{ select_list(name='group_selection', label=_('How do you want to
            determine the privileged group'), list=['custom','majority'],
            list_labels=[_('Custom group (Select your own)'),_('Majority group
            (Automatically select the largest group)')], search=False,
            none_value=False, default='custom') }}
            <div
              class="text-xs font-weight-bold text-gray-500 text-uppercase mb-1"
            >
              {{ _('Priviliged groups are used to calculate relative disparities
              in our Bias Audit. For example, you might select Male as the
              reference group for Gender. ') }}
            </div>
          </div>
        </div>
      </div>

      {% if dataset.module_bias.privileged_group is defined %} {% for key, group
      in dataset.module_bias.privileged_group.items() %} {% if
      dataset.module_bias.group_selection is defined %} {% set disable =
      dataset.module_bias.group_selection == 'majority' %} {% else %} {% set
      disable = False %} {% endif %}

      <div class="form-row mb-3">
        {% if group.dtype == 'object' %} {{ multiple_select_list(name=key,
        label=key, list=group['values'], value=group['values'][0],
        with_btn=False, disable=disable) }} {% else %} {% if
        group['privileged_values'] is defined %} {% set value =
        group['privileged_values'] %} {% else %} {% set value =
        group['values'][0] %} {% endif %} {{ form_input(name=key, label=key,
        type='number', value=value, disable=disable)}} {% endif %}
      </div>
      {% endfor %} {% endif %}

      <div class="form-row mt-3">
        <input type="hidden" name="_method" value="PUT" />
        <button class="btn btn-primary" type="submit">
          {{ _("Update report") }}
        </button>
      </div>
    </form>
  </div>
  <!-- Datasets modules cards -->
  {% set disable = dataset.module_bias.status != 'loaded' %}

  <div class="col-12 col-sm-6">
    <div class="row mb-3">
      <div class="col-12">
        {{ card(text=_('See the report'),
        href='/datasets/'+dataset.name+'/bias-results', disable=disable,
        fa='chart-line', color='info', border_color='info', bg='white',
        subtext=_('Link to the bias report..')) }}
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock %}

<!-- {% block footer %}{% endblock %} -->
{% block scripts %}

<script>
  const updateGroupSelection = function (clickedIndex, elemType) {
    let elems = $(elemType);

    console.log(elems)

    if (clickedIndex === 1) {
      // Custom selection choosed
      elems.each((id) => {
        if (elems[id].id !== "group_selection") {
          let elem = $("#" + elems[id].id);
          let btn = $("#" + elems[id].id + " + button");

          elem.prop("disabled", false);
          btn.removeClass("disabled");
        }
      });
    } else {
      // Majority selection choosed

      elems.each((id) => {
        if (elems[id].id !== "group_selection") {
          let elem = $("#" + elems[id].id);
          let btn = $("#" + elems[id].id + " + button");

          elem.prop("disabled", true);
          btn.addClass("disabled");

          elem.selectpicker("deselectAll");
          let first_val = $("#" + elems[id].id + " option:first").val();
          elem.selectpicker("val", first_val);
        }
      });
    }
  };

  $("#group_selection").on("changed.bs.select", function (
    e,
    clickedIndex,
    isSelected,
    previousValue
  ) {
    updateGroupSelection(clickedIndex, 'select');
    updateGroupSelection(clickedIndex, 'input');
    
  });
</script>

{% endblock %}
