{% from "commons/components/card.html" import card with context %} {% from
"projects/evaluation_section/evaluation_section.html" import evaluation_section
with context %} {% extends "commons/layout.html" %} {% block title %}{{ title
}}{% endblock %}
<!-- {% block head %}{% endblock %} -->
{% block h1 %}{{ title }}{% endblock %} {% block h1_side %}
<div class="d-inline-block">
  <a href="/edit-project/{{ project.name }}" class="nounderline">
    <button class="btn bg-info"><i class="fa fa-edit text-white"></i></button>
  </a>
  <form
    class="d-inline-block"
    action="/projects/{{project.name}}"
    method="post"
  >
    <input type="hidden" name="_method" value="DELETE" />
    <button type="submit" class="btn bg-danger">
      <i class="fa fa-trash text-white"></i>
    </button>
  </form>
</div>
{% endblock %} {% block content %}

<!-- Details Row -->
<div class="row">
  <div class="col">
    <strong>Created at:</strong> {{ project.created_at.strftime('%Y-%m-%d')}}
  </div>
  <div class="col">
    <strong>Members:</strong> {{ ', '.join(project.members) }}
  </div>
  <div class="col">
    {% if project.desc is defined and project.desc|length %}
    <p class="mb-1"><strong>Description:</strong> {{ project.desc }}</p>
    {% endif %}
  </div>
</div>
<!-- End details row -->
<hr />

<!-- Components Row -->

<div class="d-sm-flex align-items-center text-dark justify-content-between mb-4 mx-2">
  <h2>{{ _('Synthesis') }}</h2>
</div>
<div class="row">
  <div class="alert w-100 alert-info" role="alert">
    {{ _('<strong>You answered ') + project.n_answered['total']|string + _(' questions.</strong>') }} 
    {% if project.dataset is none %}
      {{ _('Also, if you want to access technical modules page, you need to set your dataset on the <a href="./'+project.name+'/new-dataset">Add a Dataset page</a> 4
      and to set a model go to the <a href="./'+project.name+'/new-model">Add a Model page</a>') }}
    {% else %}
      {% if project.dataset.model is none %}
          {{ _('Also, your <a href="./'+project.name+'/dataset">Dataset</a> is set and if you have a model to add go to the <a href="./'+project.name+'/new-model">Add a Model page</a>.') }}
      {% else %}
          {{ _('Also, your <a href="./'+project.name+'/dataset">Dataset</a> and <a href="./'+project.name+'/model">Model</a> are set.') }}
      {% endif %}
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="font-weight-bold text-dark text-uppercase mb-1">
          {{ _('Evaluation completion') }}
        </div>

        <div class="row no-gutters align-items-center">
          <div class="col-auto">
            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
              {{ project.prct_answered['total']|round(2) }}%
            </div>
          </div>
          <div class="col">
            <div class="progress progress-sm mr-2 w-100">
              <div
                class="progress-bar bg-info"
                role="progressbar"
                style="width: {{ project.prct_answered['total'] }}%;"
                aria-valuenow="{{ project.prct_answered['total'] }}"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="text-xs font-weight-bold text-gray-500 text-uppercase my-2">

      <a href="./{{ project.name }}/evaluation" class="nounderline">
        {{ _('Access your evaluation form.')}}
        </a>
          </div>
  </div>


  <!-- {{ project.to_dict() }} -->
  <!-- {{ questions }} -->
  {{ project.answers_eu_requirement }}

  <hr>
  {{ project.n_answered }}
  {{ project.n_questions }}
  {{ project.prct_answered }}
</div>

{% endblock %}

<!-- {% block footer %}{% endblock %} -->
{% block scripts %} {% endblock %}
