{% from "commons/components/card.html" import card with context %} {% extends
"commons/layout.html" %} {% block title %}{{ title }}{% endblock %}
<!-- {% block head %}{% endblock %} -->
{% block h1 %}{{ title }}{% endblock %} {% block h1_side %}
<div class="d-inline-block">
  <a href="/edit-project/{{ project.name }}" class="nounderline">
    <button class="btn bg-info"><i class="fa fa-edit text-white"></i></button>
  </a>
  <form
    class="d-inline-block"
    action="/projects/{{project.name}}"
    method="post"
  >
    <input type="hidden" name="_method" value="DELETE" />
    <button type="submit" class="btn bg-danger">
      <i class="fa fa-trash text-white"></i>
    </button>
  </form>
</div>
{% endblock %} {% block content %}

<!-- Details Row -->
<div class="row">
  <div class="col">
    <strong>Created at:</strong> {{ project.created_at.strftime('%Y-%m-%d')}}
  </div>
  <div class="col">
    <strong>Members:</strong> {{ ', '.join(project.members) }}
  </div>
  <div class="col">
    {% if project.desc is defined and project.desc|length %}
    <p class="mb-1"><strong>Description:</strong> {{ project.desc }}</p>
    {% endif %}
  </div>
</div>
<!-- End details row -->
<hr />

<!-- Components Row -->
<div class="row">
  <!-- DATASET CARD -->
  {% if project.dataset is not none %}
  <div class="col">
    {{ card(text=_('Dataset')+' - '+project.dataset.name,
    href='/datasets/'+project.dataset.name, fa='database', color='white',
    border_color='white', bg='secondary') }}
  </div>
  {% else %}
  <div class="col">
    {{ card(text=_('Add a Dataset'),
    href='/projects/'+project.name+'/new-dataset', fa='plus', color='secondary',
    border_color='secondary', bg='light') }}
  </div>
  {% endif %}

  <!-- MODEL CARD -->
  {% if project.dataset is none %}
  <div class="col">
    {{ card(text=_('Add a Model'), fa='plus', subtext=_('You need to add a
    Dataset with model columns refered to add a Model.'), disable=True) }}
  </div>
  {% else %} {% if project.dataset.model is not none %}
  <div class="col">
    {{ card(text=_('Model')+' - '+project.dataset.model.name,
    href='/models/'+project.dataset.model.name, fa='share-alt', color='white',
    border_color='white', bg='secondary') }}
  </div>
  {% elif project.dataset.model_columns is not defined or
  project.dataset.model_columns|length == 0 %}
  <div class="col">
    {{ card(text=_('Add a Model'), fa='plus', subtext=_('You need to add a
    Dataset with model columns refered to add a Model.'), disable=True) }}
  </div>
  {% else %}
  <div class="col">
    {{ card(text=_('Add a Model'), href='/projects/'+project.name+'/new-model',
    fa='plus', subtext=_('You can add the Model using the same columns refered
    in the Dataset.'), color='secondary', border_color='secondary', bg='light')
    }}
  </div>
  {% endif %} {% endif %}

  <!-- ANALYTICS LIBRARIES CARD -->
  {% if project.dataset is none %}
  <div class="col">
    {{ card(text=_('Analytics libraries'), fa='puzzle-piece', subtext=_('You
    need to add a Dataset to access this.'), disable=True) }}
  </div>
  {% else %}
  <div class="col">
    {{ card(text=_('Analytics libraries'),
    href='/projects/'+project.name+'/modules', fa='puzzle-piece', color='white',
    border_color='white', bg='secondary') }}
  </div>
  {% endif %}
</div>

<div style="height: 5vh;"></div>

<!-- Form section -->
<!-- <div class="d-sm-flex align-items-center mb-4">
  <h2 class="h3 mb-0 text-gray-800">
    <span>{{ _('AI Evaluation') }}</span>
  </h2>
</div> -->

<div id="#frame" class="mb-4">
  <!-- Card Header - Accordion -->
  <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4"> -->
  <a
    href="#frameCollapse"
    class="d-block border-top border-bottom px-2 py-3 text-decoration-none text-dark"
    data-toggle="collapse"
    role="button"
    aria-expanded="true"
    aria-controls="frameCollapse"
  >
    <div class="row">
      <div class="col">
        <h2 class="h2 my-auto m-0 font-weight-bold ">
          <i class="fas fa-cubes"></i> {{ _('Frame') }}
        </h2>
      </div>
      <div class="col">
        <span class="small font-weight-bold">
          {{ _('Questions answered') }} <span class="float-right">4/{{questions['start']|length}}</span>
        </span>
        <div class="progress mb-4">
          <div
            class="progress-bar bg-warning"
            role="progressbar"
            style="width: 40%;"
            aria-valuenow="40"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="frameCollapse">
    <div class="card-body">
      <div class="card bg-light">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {% for aspect in questions['start'] %}
            <li id="li-aspect-{{aspect.id}}" class="breadcrumb-item {% if loop.index == 1 %}active{% endif %}">
              <a onclick="changeAspect(this)" href="#aspect-{{aspect.id}}">{{ aspect.id }} - {{aspect.name}}</a>
            </li>
            {% endfor %}
          </ol>
        </nav>
        {% for aspect in questions['start'] %}

          <div id="aspect-{{aspect.id}}" class="aspect p-2 {% if loop.index != 1 %}d-none{%else%}d-block{% endif %}" style="min-height: 40vh !important;">
            
          <div class="mx-auto my-auto" style="min-width: 50% !important; max-width: 80% !important;">
            <h5 class="h6 text-uppercase text-primary font-weight-bold">{{ aspect.id }} - {{aspect.name}}</h5>
          {% for question in aspect['questions'] %}
            <form class="mb-5">
              <div class="form-group">
              <div class="my-2 text-lg text-gray-800 font-weight-normal" for="{{ aspect.id }}_{{ question.order }}">{{ question.question }}</div>

              {% if question['question_type'] == 'boolean' %}

              <div id="{{ aspect.id }}_{{ question.order }}" class="text-lg btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-light text-uppercase active" style="width: 120px !important;">
                  <input type="radio" name="options" id="option1" autocomplete="off"> {{ _('Yes')}}
                </label>
                <label class="btn btn-light text-uppercase" style="width: 120px !important;">
                  <input type="radio" name="options" id="option2" autocomplete="off"> {{ _('No')}}
                </label>
              </div>        
              {% else %}
              
                {{ question }}

              {% endif %}

              {% if question['example'] != 'None' %}
                <div class="mt-3 mb-3 ml-4">
                  <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">{{ _('Example') }}</div>
                  <div class="text-md mb-0 font-weight-light text-gray-800">
                    {{ question['example'] }}
                  </div>
                </div>
              {% endif %}

              {% if question['suggestion'] != 'None' %}
                <div class="mt-3">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ _('Suggestion') }}</div>
                  <div class="text-md mb-0 font-weight-light text-gray-800">
                    {{ question['suggestion'] }}
                  </div>
                </div>
              {% endif %}

              </div>
              
            </form>

          {% endfor %}

          <div class="row">
            {% if loop.index > 1 %}
            <div class="col">
              <a class="btn btn-primary" role="button" onclick="changeAspect(this)" href="#aspect-{{aspect.id-1}}">Previous</a>
            </div>
            {% endif %}
            {% if loop.index < questions['start']|length %}
            <div class="col text-right">
              <a class="btn btn-primary" role="button" onclick="changeAspect(this)" href="#aspect-{{aspect.id+1}}">Next</a>
            </div>
            {% endif %}

            </div>
            </div>

          </div>

        {% endfor %}

    </div>
    </div>
  </div>
</div>

{% for question in questions %}
<div class="row">
  {{ question }}
</div>
{% endfor %} {% endblock %}

<!-- {% block footer %}{% endblock %} -->
{% block scripts %}

<script>
const changeAspect = function(newA){
  let aspectId = newA.href.split('#')[1];
  let aspects = $('.aspect');
  let aspectSelected = $('#'+aspectId);

  let oldItem = $('.breadcrumb-item.active');
  let newItem = $('#li-'+aspectId);
  
  aspects.removeClass('d-block');
  aspects.addClass('d-none');

  aspectSelected.removeClass('d-none');
  aspectSelected.addClass('d-block');

  oldItem.removeClass('active');
  newItem.addClass('active');
}
</script>

{% endblock %}
