<h1>Models</h1>

{% if session['errors'] is defined %}
<div style='color:red;'><strong>{{ session['errors'] }}</strong></div>
{% endif %}
{% if session['success'] is defined %}
<div style='color:green;'><strong>{{ session['success'] }}</strong></div>
{% endif %}


<form action="/models" method="post">
    <label for="name">Enter model name: *</label>
    <input type="text" name="name" id="name" required> <br>
    <label for="path">Enter model file path:</label>
    <input type="text" name="path" id="path"> <br>
    <label for="file_type">Enter file type: </label>
    <input type="text" name="file_type" id="file_type"><br>
    <label for="dataset_name">Enter Dataset name: </label>
    <input type="text" name="dataset_name" id="dataset_name"><br>

    <input type="submit" value="Add model">
</form>

{% for model in instances %}
<hr>
<h3><a href="/models/{{model.name}}">{{ model.name }}</a></h3>
<strong>path : </strong> {{ model.path }} <br>
<strong>file_type : </strong> {{ model.file_type }} <br>
<strong>dataset : </strong> {{ model.dataset }} <br>

{% if model.module_interpretability is defined %}
{% if model.module_interpretability is not none %}
    <strong>Model interpretability : </strong> {{ model.module_interpretability.status }} <br>
    <strong>Variable influence : </strong> {{ model.module_interpretability.variable_influence }} <br>
    <br>
{% endif %}
{% endif %}

<form action="/models/{{model.name}}" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete model">
</form>
{% endfor %}