<h1>Model</h1>

{% if session['errors'] is defined %}
<div style='color:red;'><strong>{{ session['errors'] }}</strong></div>
{% endif %}
{% if session['success'] is defined %}
<div style='color:green;'><strong>{{ session['success'] }}</strong></div>
{% endif %}

{% if instance is defined %}
<hr>
<h3>{{ instance.name }}</h3>

<form action="/models/{{instance.name}}" method="post">
    <label for="path">Model file path:</label>
    <input type="text" name="path" id="path" value="{{ instance.path }}"> <br>
    <label for="file_type">File type: </label>
    <input type="text" name="file_type" id="file_type" value="{{ instance.file_type }}"><br>

    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="Update model">
</form>

<form action="/models/{{instance.name}}" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete model">
</form>
{% endif %}