{% macro form_input(name, label, type='text', placeholder='', required=False) -%}

{% set is_not_valid = session['errors'][name] is defined %}

<label for="name">{{ label }}</label>
<input
name="{{ name }}"
type="text"
class="form-control {% if is_not_valid %}is-invalid{% endif %}"
id="{{ name }}"
placeholder="{{ placeholder }}"
{% if previous is defined %}value="{{ previous[name] }}"{% endif %}
{% if required %}required{% endif %}
/>
<div class="invalid-feedback">
{{ session['errors'][name] }}
</div>
{%- endmacro %}
