{% macro form_input(name, label, type='text', placeholder=None, required=False, value=None) -%}

{% if 'errors' in session %}
{% set is_not_valid = session['errors'][name] is defined %}
{% else %}
{% set is_not_valid = False %}
{% endif %}

{% if previous is defined %}
{% if previous[name] is defined %} 
{% if previous[name] is not none %}
  {% set value = previous[name] %}
{% endif %}
{% endif %}
{% endif %}


<label for="{{ name }}">{{ label }}</label>
<input
name="{{ name }}"
type="{{ type }}"
{% if type == 'number' %}step="0.01"{% endif %}
class="form-control {% if is_not_valid %}is-invalid{% endif %}"
id="{{ name }}"
{% if placeholder is not none %}placeholder="{{ placeholder }}"{% endif %}
{% if value is not none %}
value="{{ value }}"
{% endif %}
{% if required %}required{% endif %}
/>
<div class="invalid-feedback">
{% if 'errors' in session %}
{{ session['errors'][name] }}
{% endif %}
</div>
{%- endmacro %}
