{% macro form_input(name, label, type='text', placeholder='', required=False, value=None) -%}

{% if 'errors' in session %}
{% set is_not_valid = session['errors'][name] is defined %}
{% else %}
{% set is_not_valid = False %}
{% endif %}

<label for="{{ name }}">{{ label }}</label>
<input
name="{{ name }}"
type="text"
class="form-control {% if is_not_valid %}is-invalid{% endif %}"
id="{{ name }}"
placeholder="{{ placeholder }}"
{% if previous is defined %}
    {% if previous[name] is defined and previous[name]|length > 0 %} 
        value="{{ previous[name] }}"
    {% elif value is not none %}
        value="{{ value }}"
    {% endif %}
{% endif %}
{% if required %}required{% endif %}
/>
<div class="invalid-feedback">
{% if 'errors' in session %}
{{ session['errors'][name] }}
{% endif %}
</div>
{%- endmacro %}
