{% macro multiple_select_list(name, label, list, value=None, title=_('Select columns')) -%} {% if 'errors' in
session %} {% set is_not_valid = session['errors'][name] is defined %} {% else
%} {% set is_not_valid = False %} {% endif %}

<div class="form-group">
  <label for="{{ name }}"><span>{{ label }}</span></label>
  <select
    name="{{ name }}"
    id="{{ name }}"
    class="selectpicker form-control {% if is_not_valid %}is-invalid{% endif %}"
    multiple
    title="{{ title }}"
    data-selected-text-format="count > 3"
  >
  {% for elem in list %}
  <option {% if value is not none %}{% if elem in value %}selected{% endif %}{% endif %}>{{ elem }}</option>
    {% endfor %}
  </select>

  <div class="invalid-feedback">
    {% if 'errors' in session %} {{ session['errors'][name] }} {% endif %}
  </div>
</div>
<button
  type="button"
  class="btn btn-outline-info"
  onclick="selectAll('#{{ name }}');"
>
  {{ _('Select all') }}
</button>
<button
  type="button"
  class="btn btn-outline-info"
  onclick="deselectAll('#{{ name }}');"
>
  {{ _('Deselect all') }}
</button>
{%- endmacro %}
