{% macro form_textarea(name, label, rows, placeholder='', required=False) -%}

{% if 'errors' in session %}
{% set is_not_valid = session['errors'][name] is defined %}
{% else %}
{% set is_not_valid = False %}
{% endif %}
  
<label for="{{ name }}">{{ label }}</label>
<textarea
  name="{{ name }}"
  class="form-control {% if is_not_valid %}is-invalid{% endif %}"
  id="{{ name }}"
  rows="{{ rows }}"
  placeholder="{{ placeholder }}"
  {%
  if
  required
  %}required{%
  endif
  %}
>
{% if previous is defined %}{{ previous[name] }}{% endif %}
</textarea>
<div class="invalid-feedback">
  {% if 'errors' in session %}
  {{ session['errors'][name] }}
  {% endif %}
</div>
{%- endmacro %}
