{% extends "commons/layout.html" %} {% block title %}{{ title }}{% endblock %}
{% block head %}
<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
{% endblock %} {% block h1 %}{{ title }}{% endblock %} {% block content %}
<!-- Content Row -->
<div class="row">
  <div class="card shadow mb-4 w-90 mx-auto">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ _('Models list') }}</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered table-list"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>{{ _('Name') }}</th>
              <th>{{ _('Project') }}</th>
              <th>{{ _('Creation date') }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for model in models %}
            <tr>
              <td class="w-25">
                <a href="/model/{{ model.name }}">{{ model.name }}</a>
              </td>
              <td class="w-25">{% if model.dataset is defined %}{% if model.dataset.project is defined %}{{ model.dataset.project.name }}{% endif %} {% endif %}</td>
              <td class="w-25">{{ model.created_at }}</td>
              <td class="w-25 text-right">
                <a href="/edit-model/{{ model.name }}" class="nounderline">
                <button class="btn bg-info"><i class="fa fa-edit text-white"></i></button>
              </a>
                <form class="d-inline" action="/models/{{model.name}}" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <button type="submit" class="btn bg-danger"><i class="fa fa-trash text-white"></i></button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- {% block footer %}{% endblock %} -->
<!-- {% block scripts %}{% endblock %} -->
