{% extends "commons/layout.html" %} {% block title %}{{ title }}{% endblock %}
{% block head %} {% endblock %} {% block h1 %}{{ title }}{% endblock %} {% block
h1_side %}
<div class="d-inline-block">
  <a href="/edit-model/{{ model.name }}" class="nounderline">
    <button class="btn bg-info"><i class="fa fa-edit text-white"></i></button>
  </a>
  <form class="d-inline-block" action="/models/{{model.name}}" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    <button type="submit" class="btn bg-danger">
      <i class="fa fa-trash text-white"></i>
    </button>
  </form>
</div>
{% endblock %} {% block content %}

<!-- Details Row -->
<div class="row">
  {% if model.dataset is defined %}{% if model.dataset.project is defined %}
  <div class="col">
    <a href="/projects/{{ model.dataset.project.name }}"
      ><strong>Project:</strong> {{ model.dataset.project.name }}</a
    >
  </div>
  {% endif %} {% endif %}
  <div class="col">
    <strong>Created at:</strong> {{ model.created_at.strftime('%Y-%m-%d')}}
  </div>
  <div class="col"><strong>Path:</strong> {{ model.path }}</div>
</div>
<!-- End details row -->
<hr />

{% endblock %}

<!-- {% block footer %}{% endblock %} -->
<!-- {% block scripts %}{% endblock %} -->
